


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
     <!-- Google Font -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Hello, world!</title>
  </head>
  <body>
    <style type="text/css">
        body{
        font-family: 'Roboto', sans-serif;
        }
      h3{
        padding-top: 70px;
        font-size: 50px;
      }
      th{
        background-color: brown;
        color: rgb(255, 255, 255);
        font-size: 18px;
    }
      table {
       margin-top: 3%;
       margin-left: 12%;
       margin-right: 15%;
       text-align: center;
       cursor: pointer;
       color: #000;
      }
      </style>

    <h3 class="text-center font-weight-bold"> Receipts </h3>

    <table class="table table-bordered table-striped" style="width:60rem;">
      <th>Status</th>
      <th>Type</th>
      <th>Date</th>
      <th>Receipt_Number</th>
      <th>Account</th>
      <th>TotalAmount</th>
        
      {% for receipt in receipts %}
      <tr class="shadow p-4 mb-4 bg-white">
        <td>{{ receipt.status }}</td>
        <td>{{ receipt.receipt_type }}</td>
        <td>{{ receipt.receipt_date }}</td>
        <td>{{ receipt.receipt_number }}</td>
        <td>{{ receipt.account }}</td>
        <td>{{ receipt.total_Amount }}</td>
      </tr>
      {% endfor %}
</table>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>


